@font-face {
    font-family: 'Cocogoose';
    src: url('fonts/cocogoose/Cocogoose.ttf') format('truetype');
}    

@font-face {    
    font-family: 'LemonMilk';
    src: url('fonts/lemonmilk/LEMONMILK-Light.otf') format('opentype'); 
}

.title{
    color: white;
    font-size: 40px;
    font-family: 'Cocogoose';
    
    margin-top: 80px;
    margin-left: 80px;
}

.recipe_list{
    color: white;
    font-size: 20px;
    line-height: 220%;
    margin-left: 120px;
    
}

ul{
    padding-left: 20px;
    list-style: square;
    list-style-position: outside;
    font-family: 'LemonMilk';
}

li{
    padding-left: 50px;
}


a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:rgb(255, 255, 169);
    text-decoration: none;
}

body{
    background-color: black;
}